body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7vh;
    font-weight: 100;
    color: black;
    background-color: white;
}

body a:link, a:visited {
    color:dimgray;
    text-decoration: none;
}

body a:active, a:hover {
    color:black;
    text-decoration: none;
}

body p {
    line-height: 170%;
}

body h1 {
    
}

body h2 {
    
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.home {
    padding-top: 2%;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5vh;
}

.home_top {
    display: flex;
    font-size: 14vh;
    font-weight: 100;
    height: 78vh;
}

.home_left {
    padding-top: 10%;
    padding-right: 1%;
    width: 25%;
    text-align: right;
}

.home_center {
    position: relative;
    width: 50%;
    text-align: center;
}

.home_right {
    padding-top: 10%;
    padding-left: 1%;
    flex-grow: 1;
    text-align: left;
}

.home_bottom {
    padding-top: 1%;
    width: 100%;
}

.nav {
    margin: 0px;
    padding-top: 3vh;
    padding-right: 3%;
    text-align: right;
    height: 5vh;
    font-size: 2.7vh;
}

.about {
    height: 83vh;
    padding-left: 5.5%;
    padding-right: 5%;
    padding-top: 2vh;
}

.about_header {
    padding-top: 2vh;
    font-size: 6.5vh;
}

.about_content {
    height: 74.5vh;
    display: flex;
}

.about_photo {
    height: 71.5vh;
    width: 45%;
    float: left;
    text-align: right;
    padding-top: 3vh;
    padding-right: 3%;
}

.about_text {
    height: 74.5vh;
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 3%;
    flex-grow: 1;
    overflow: scroll;
}

.interests {
    height: 90vh;
    padding-top: 3vh;
    padding-left: 3%;
    padding-right: 3%;
}

.interests_photo {
    height: 100%;
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 2.2%;
    padding-right: 3%;
}

.interests_text {
    height: 100%;
    width: 50%;
    float: left;
    text-align: left;
    padding-top: 2%;
    padding-left: 3%;
    flex-grow: 1;
    overflow: scroll;
}

.projects {
    width: 100%;
    padding-top:5%;
    padding-left: 10%;
    padding-right: 10%;
}

.hover a:link img {
    opacity: 1.0;
    -webkit-backface-visibility: hidden;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.hover a:hover img {
    opacity: 0.30;
}

.project_name {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    opacity: 0.0;
}

.project_name h1 {
    font-size: 5.2vh;
    font-weight: 100;
}

.project_name h2 {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3.5vh;
    font-weight: 100;
}

.project_name:hover {
    opacity: 1.0;
}

.photography {
    width: 27%;
    position: relative;
    float: left;
    margin-right: 3%;
}

.logic {
    width: 27%;
    position: relative;
    float: left;
    margin-right: 3%;
}

.evolving {
    width: 27%;
    position: relative;
    float: left;
}

.scroll {
    height: 7vh;
    text-align: center;
    width: 100%;
}

.scroll a:link img {
    opacity: 1.0;
    -webkit-backface-visibility: hidden;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.scroll a:hover img {
    opacity: 0.35;
}