<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Cookie|Great+Vibes|Josefin+Sans:300|Libre+Franklin:300|Montez|Raleway:300|Sacramento|Satisfy|Tangerine" rel="stylesheet">
</head>
  <body>
    <a name="top"></a>
    <nav>
        <a href="/">Home</a>
        &emsp;
        <a href="/about">About</a>
        &emsp;
        <a href="/projects">Projects</a>
        &emsp;
        <a href="http://jingyuli.space/">Photography</a>
    </nav>
    {{{body}}}
  </body>
</html>
