
<div class="home">
    <div class="home_top">
        <div class="home_left">Jingyu</div>
        <div class="home_center"><img src="/images/logo_scaled.png" alt="logo" width="70%"></div>
        <div class="home_right">Li</div>
    </div>
    <div class="home_bottom">Computer scientist, designer</div>
</div>

