<div id="photography">
    <div id="photo-left">
        <img class="photo" src="images/photography/withering.jpg" width="100%">
        <img class="photo" src="images/photography/charles_night.jpg" width="100%">
        <img class="photo" src="images/photography/lake_arenal.jpg" width="100%">
        <img class="photo" src="images/photography/boston_cars.jpg" width="100%">
        <img class="photo" src="images/photography/july_4_stage.jpg" width="100%">
        <img class="photo" src="images/photography/july_4_confetti.jpg" width="100%">
        <img class="photo" src="images/photography/railroad.jpg" width="100%">
        <img class="photo" src="images/photography/puzzle_painting.jpg" width="100%">
    </div>

    <div id="photo-right">
        <img class="photo" src="images/photography/starbucks.jpg" width="100%">
        <img class="photo" src="images/photography/ring.jpg" width="100%">
        <img class="photo" src="images/photography/night_flowers.jpg" width="100%">
        <img class="photo" src="images/photography/lily.jpg" width="100%">
        <img class="photo" src="images/photography/snowy_brick.jpg" width="100%">
        <img class="photo" src="images/photography/courtney_wind.jpg" width="100%">
        <img class="photo" src="images/photography/hannah_portrait.jpg" width="100%">
        <img class="photo" src="images/photography/harvard_gate.jpg" width="100%">
        <img class="photo" src="images/photography/hallway.jpg" width="100%">
        <img class="photo" src="images/photography/summer_reflection.jpg" width="100%">
        <img class="photo" src="images/photography/hand.jpg" width="100%">
    </div>
</div>
<!--
<div id="photography" class="free-wall">
    <div class="brick">
        <img src="images/photography/1.jpg" width="50%">
    </div>
    <div class="brick">
        <img src="images/photography/2.jpg" width="50%">
    </div>
    <div class="brick">
        <img src="images/photography/3.jpg" width="100%">
    </div>
    <div class="brick">
        <img src="images/photography/4.jpg" width="20%">
    </div>
</div>


<script type="text/javascript">
    var wall = new Freewall("#photography");
    wall.reset({
        selector: '.brick',
        animate: true,
        cellW: 200,
        cellH: 'auto',
        onResize: function() {
            wall.fitWidth();
        }
    });

    wall.container.find('.brick img').load(function() {
        wall.fitWidth();
    });


</script>-->
